:root {
    --body-padding: 8px;
    --line-radius: 2px;
    --dot-radius: 4px;
    --card-backround-color: rgb(255, 213, 219);
    font-family: 'Arial Narrow', Arial, sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: pink;
    height: 100%;
}

#react-root {
    padding: var(--body-padding);
    height: 100%;
    box-sizing: border-box;
}

.card {
    border-radius: 20px;
    background-color: var(--card-backround-color);
    margin: auto;
    display: grid;
    grid-template-rows: minmax(0, 1fr) auto auto;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: 
      "squares"
      "scores"
      "message-box";
    box-sizing: border-box;
}

.squares {
    display: grid;
    grid-area: squares;
    max-height: 100%;
    padding: var(--dot-radius);
}

.dot {
    z-index: 2;
    position: absolute;
    background-color: black;
    width: calc(var(--dot-radius) * 2);
    height: calc(var(--dot-radius) * 2);
    border-radius: var(--dot-radius);
}

.line {
    position: absolute;
    border-radius: var(--line-radius);
    z-index: 1;
}

.cell {
    position: relative;
    box-sizing: border-box;
    padding: calc(var(--dot-radius) * 2);
}

.message-box {
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 30px; /* rounded */
    background-color: rgb(255, 232, 239);
    grid-area: message-box;
    font-size: 24px;
}

.scores {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    box-sizing: border-box;
}

.player-details {
   
}

:not(.player-details-active).player-details * {
    opacity: 0.5;
}

.player-details-2 {
    display: flex;
}

.player-img {
    width: 60px;
    height: 90px;
    object-fit: fill;
    grid-area: image;
    padding: 0;
    margin: 0;
}

.player-score {
    /* 0 line height stops the large test from pusing down other elements */
    line-height: 0;
    position: relative;
    bottom: -68px;
    font-weight: normal;
    font-size: 60px;
    grid-area: score;
    padding: 0 16px;
    margin: 0;
}

.player-name {
    grid-area: name;
    padding: 8px 0 0 0;
    margin: 0;
    font-size: 22px;
}

.dots-input {
    flex: 1 1 auto;
    width: 100%;
    appearance: none;
    margin: 0;
    background-color: transparent;
    border: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    padding-left: 0.6ch;
    padding-top: 2px;
    padding-bottom: 2px;
}

.dots-input:focus-visible {
    outline: none;
}

.dots-input-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

.dots-input-label {
    flex: 0 0 auto;
}

.menu-card .player-img {
    width: 110px;
    display: inline;
}

@media screen and (max-width: 500px) {
    body .menu-container {
        grid-template-columns: 1fr;
        grid-template-areas:
        "button-a"
        "button-b"
        "inputs";
    }
  }

.menu-container {
    display: grid;

    grid-template-areas:
    "button-a button-b"
    "inputs none";

    grid-template-columns: 1fr 1fr;

    gap: 16px;
    max-width: 600px;
    margin: auto;
    padding: 8px;
}

.menu-card.menu-buttons {
    display: block;
    cursor: pointer;
}

.menu-card.menu-button-a {
    grid-area: button-a;
}

.menu-card.menu-button-b {
    grid-area: button-b;
}

.menu-card .menu-inputs {
    grid-area: inputs;
    max-width: 300px;
    margin: auto;
}

.menu-card {
    border-radius: 20px;
    padding: 16px;
    margin: 0;
    background: var(--card-backround-color);
    border: transparent;
    font-weight: bold;
    box-sizing: border-box;

    /* needed to ovveride default button behaviour*/
    appearance: none;
    font-family: inherit;
    font-size: 20px;
    display: block;
    text-align: left;
    color: black;
}
