body {
    padding: 0;
    margin: 0;
    background-color: pink;
}

.content {
    padding: 16px;

}

.card {
    padding: 40px; /* look nice same as square size*/
    width: fit-content;
    margin: auto;
    border-radius: 3px;
    background-color: wheat;
    border: 1px solid gray;
}

.squares {
    position: relative;
    margin: auto;
}

.panel {
    margin: auto;
}

.line {
    position: absolute;
}

.line:not(.line-selected) {
    background-color: transparent;
}

.line.line-selected {
    background-color: rebeccapurple;
}

.line:not(.line-selected):hover {
    background-color: blue;
    z-index: 1;
}

.cell {
    position: absolute;
    border: grey 1px dotted;
    box-sizing: border-box;
}